/**************************************/
/***************COLOURS****************/
/**************************************/
/*********COLOUR ALTERNATIVES**********/
/**************************************/
/************TYPOGRAPHIES**************/
/**************************************/
/***************AFFECTS****************/
/**************************************/
/*********MOBILE FIRST DESIGN**********/
/**************************************/
/**************************************/
/**************BODY LAYOUT*************/
/**************************************/
body {
  /*fixing footer to bottom of browser*/
  position: relative;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

/**************************************/
/*********START HEADER LAYOUT**********/
/**************************************/
header, footer {
  color: #000000; }

header a,
footer a {
  color: #000000;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: block;
  text-align: center; }
  header a:hover,
  footer a:hover {
    background: rgba(0, 0, 0, 0.3); }

.logo {
  width: 120px; }

header .flex-nav {
  /* Flex Container */ }
  header .flex-nav ul {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    list-style: none;
    margin: 0;
    padding: 0;
    /* USE display:flex for laptop view */
    display: none; }
    header .flex-nav ul .pc-logo {
      display: none; }
    header .flex-nav ul li a {
      cursor: pointer; }

/* Button */
.button {
  margin: 5px 5px 14px 5px;
  width: 150px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  border-radius: 3px;
  cursor: pointer; }

.buttonClick {
  cursor: pointer; }

.button-green {
  background: #8bc34a;
  border: 1.4px solid #7cb342;
  color: white;
  box-shadow: 1px 1px #689f38; }

.button-green:hover {
  background-color: #71a436; }

.button-green:active {
  background-color: #a4d070; }

/*SEARCH BAR STYLING*/
.search-bar-form {
  width: 100%;
  border-bottom: 1px solid #c7c7c7;

   }
.search-bar-form input{
  width: 0px;
  transition: display 2s;
    height: 30px;
  padding: 2px 0 0 4px; }
}
.search-input-text-pc{
  transition: display 2s;
}
.search-bar-form-toggled{
  width: 100%;
}
.header-search-bar {
  display: none; }

/*SEARCH FORM CONAINER*/
.search-bar-form > div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6px 5px; }

/*SEACH BAR*/
.search-input-container {
  width: 100%;
  /* TOGGLE CONTAINER DISPLAY IN JS FOR ACTIVE SEARCHS*/
  display: none; }



/*SEARCH ICON*/
/*SETUP ICON CONTAINER*/
.search-icon-button {
  width: 30px;
  height: 30px;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 3px 10px;
  display: flex;
  cursor: pointer; }
  .search-icon-button .search-icon {
    /*CENTER THE ICON*/
    padding: 5px 6px; }

.search-icon-button:hover {
  background-color: #2e2e2e; }
  .search-icon-button:hover .search-icon {
    color: #ffffff; }

/**************************************/
/***********END HEADER LAYOUT**********/
/*********START FOOTER LAYOUT**********/
/**************************************/
footer .social-media-icons {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  list-style: none;
  margin: 0;
  padding: 0;
  /* USE display:flex for laptop view */ }
  footer .social-media-icons li {
    width: 25%; }
  footer .social-media-icons li a {
    cursor: pointer; }

/***********END FOOTER LAYOUT**********/
/**************************************/
/**************************************/
/*****START DEFAULT LAYOUT LAYOUT******/
/**************************************/
.section-image img {
  width: 100vw;
  /*height: auto;*/ }

/**************************************/
/*************FORM LAYOUT**************/
/*form wrapper styling*/
.form {
  display: flex;
  flex-direction: column; }

/**************************************/
/***********SECTION LAYOUT*************/
#section-login,
#section-register {
  /*setup the section in a column layout*/ }

/**************************************/
/***********ARTICLE LAYOUT*************/
#article-login,
#article-register,
#article-confirm-booking {
  /*center the login section*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }

#form-login,
#form-register,
#form-contact-us,
#form-confirm-booking {
  display: flex;
  /*increase padding for table & pc media queries*/
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 16px;
  background-color: #ffffff; }
  #form-login input,
  #form-register input,
  #form-contact-us input,
  #form-confirm-booking input {
    width: 280px;
    height: 30px;
    padding: 2px 0 0 4px;
    margin-bottom: 16px; }
  #form-login .button,
  #form-register .button,
  #form-contact-us .button,
  #form-confirm-booking .button {
    margin: 0 auto; }

#btn-user {
  margin-top: 20px; }

#form-contact-us textarea {
  margin-bottom: 10px; }

/**************************************/
/************OVERLAY LAYOUT************/
#section-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 20, 22, 0.5);
  overflow: hidden;
  z-index: 99; }
  #section-overlay form {
    border-radius: 4px; }

/**************************************/
/************SECTION LAYOUT************/
/**************************************/
.section {
  display: none;
  margin-top: 16px;
  margin-bottom: 16pxa; }

/**************************************/
/*****END DEFAULT LAYOUT LAYOUT******/
/**************************************/
/**************************************/
/*************HOME LAYOUT**************/
/**************************************/
/*************HOME END*****************/
/**************************************/
/*************event LAYOUT**************/
.event-card {
  background: white;
  width: 100%; }

.event-card-content-time, .event-card-content-location {
  display: flex;
  flex-direction: row;
  line-height: 50px; }

.event-card-image-big {
  display: none; }

.event-card-content-pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.event-card-content-pricing-price {
  line-height: 50px; }

.event-card-content-time-icon {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../img/site-layout/clock.svg);
  background-size: 50px 50px;
  margin-left: 15px; }

.event-card-content-location-icon {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../img/site-layout/map_pointer.svg);
  background-size: 50px 50px;
  margin-left: 15px; }

.event-card-content-time-text, .event-card-content-location-text {
  margin-left: 15px; }

.event-card-content-tags-tags {
  margin-left: 15px;
  padding-bottom: 20px;
  line-height: 30px;
  height: 30px;
  border-top: 1px solid #c7c7c7;
  margin-top: 10px; }

.event-card-text-paragraph {
  padding-top: 10px;
  border-top: 1px solid #c7c7c7; }

.event-card-map-container {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 320px;
  padding-top: 6px;
  padding-bottom: 6px; }

#section-event {
  display: none;
  flex-direction: column; }

.event-card-image {
  display: flex;
  width: 100%; }

.event-card-text-container {
  padding: 2px 16px; }

.event-card-map-container {
  justify-content: center; }

.event-card-event-partners-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.event-card-event-partners-content {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center; }

.event-card-partners-header {
  text-align: center; }

.event-partners-image-partner {
  width: 100px;
  height: 100px;
  padding-top: 30%; }

/**********QUICK RESONSIVE SETUP**********/
.mobile {
  display: block; }

.tablet {
  display: none; }

.small-pc {
  display: none; }

/**********book event*********/
.book-event-container {
  width: 100vw;
  background-color: white;
  padding: 16px; }

.section-book-event-user {
  display: flex;
  justify-content: center; }

.book-event-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 20px; }

.book-event-heading {
  border-bottom: 1px solid #c7c7c7; }

.book-event-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.view-profile-left {
  width: 100%;
  display: flex;
  flex-direction: column; }

.book-event-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.book-event-content-times {
  display: flex;
  flex-direction: column; }

.book-event-right-dropdown {
  margin: 5px; }

/**********book event ends*********/
/*************EVENT book guest**************/
.book-event-guest-inputs {
  display: flex;
  flex-direction: column; }

.events-container {
  width: 100%;
  padding-top: 16px; }

.events-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*************EVENT book guest end**************/
/*************EVENTs start**************/
.events-heading {
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  height: 20px;
  line-height: 20px;
  padding-bottom: 16px; }

.events-card-content-container {
  width: 320px;
  height: 320px;
  border: 1px solid #c7c7c7;
  margin: 5px;
  background-color: white; }

.events-card-content-group {
  width: 100%;
  height: 100%; }

.events-card-content-image {
  width: 100%;
  height: 100%; }

.events-card-content-group {
  display: flex;
  flex-direction: column;
  align-items: center; }

.events-card-content-image-container, .events-card-content-text {
  width: 100%;
  height: 50%; }

.events-card-content-image-container {
  position: relative; }

.events-card-content-text {
  display: flex;
  flex-direction: column;
  align-items: center; }

.margin-container {
  margin: 0 auto; }

.photo-overlay {
  opacity: 0;
  transition: opacity .5s; }

.photo-overlay:hover {
  opacity: 1; }

.photo-overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  /* For centering text inside .photo-overlay */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); }

.events-card-content-time-icon {
  display: block;
  filter: invert(100%);
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../img/site-layout/clock.svg);
  background-size: 50px 50px;
  margin-left: 15px; }

.events-card-content-location-icon {
  display: block;
  filter: invert(100%);
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../img/site-layout/map_pointer.svg);
  background-size: 50px 50px;
  margin-left: 15px; }

.buttonGoUp {
  position: relative;
  z-index: 50; }

/*************EVENTs ends**************/
/*************Home starts**************/
.home-content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-contents {
  width: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-content-text {
  padding: 16px; }

/*************Home ends**************/
/*************our partners starts**************/
.our-partners-container {
  width: 100%;
  background-color: white; }

.our-partners-text-container {
  width: 100%;
  border-right: 1px solid #c7c7c7; }

.our-partners-text-headings {
  border-bottom: 1px solid #c7c7c7;
  margin: 16px; }

.our-partners-contact-us-container {
  padding: 16px; }

.our-partners-container-big {
  display: flex;
  flex-direction: column;
  align-items: center; }

.our-partners-get-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px; }

.our-partners-get-image {
  display: flex;
  justify-content: center; }

.our-partners-about-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column; }

.our-partners-about-fix-size {
  width: 100%;
  display: flex;
  flex-direction: column; }

.our-partners-bg-white {
  background-color: white;
  width: 100%; }

.padding {
  margin: 16px;
  margin-right: 50px; }

/*************our partners ends**************/
/*MEDIA QUERY - TABLET*/
@media screen and (min-width: 700px) {
  /**************************************/
  /**********START HEADER LAYOUT*********/
  header .flex-nav {
    /*Hide toggle navigation buttton*/
    /* Flex Container */ }
    header .flex-nav .toggleNav {
      display: none; }
    header .flex-nav ul {
      display: flex;
      justify-content: space-around; }
    header .flex-nav .pc-logo {
      display: none; }

  /***********END HEADER LAYOUT**********/
  /**************************************/
  /*************HOME LAYOUT**************/
  /**************************************/
  /*************HOME END*****************/
  /**************************************/
  /**************************************/
  /*************event LAYOUT**************/
  .event-card-content-time-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .event-card-image {
    display: flex;
    width: 100%; }

  .event-card-content-time-container {
    display: block; }

  .event-card-content-location {
    margin-top: 10px; }

  .event-card-image {
    display: none; }

  .event-card-content-pricing {
    flex-direction: row;
    justify-content: flex-end;
    padding: 32px; }

  /**************************************/
  .event-card-content-big {
    display: flex;
    flex-direction: row; }

  .event-card-image-big {
    margin: 16px;
    padding-top: 10px;
    border-top: 1px solid #c7c7c7; }

  .event-card-image-big {
    display: block; }

  .event-card-map-container {
    justify-content: flex-end;
    display: flex; }

  .event-card-map-img {
    padding: 32px;
    width: 100%; }

  .event-card-event-partners-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }

  .event-card-event-partners-content {
    width: 24%;
    height: 0;
    padding-bottom: 50%;
    flex: 0 1 calc(50% - 1em); }

  /**********QUICK RESONSIVE SETUP**********/
  .mobile {
    display: none; }

  .tablet {
    display: block; }

  .small-pc {
    display: none; }

  /*************EVENT book**************/
  .book-event-container {
    width: 100vw;
    background-color: white; }

  .book-event-content-container {
    display: flex;
    flex-direction: row; }

  .book-event-left {
    width: 50%; }

  .book-event-right {
    width: 50%; }

  /*************EVENT book ends**************/
  /*************EVENT book guest**************/
  /*************EVENT book guest end**************/
  /*************EVENTs start**************/
  .events-container {
    width: 100%;
    padding-top: 16px; }

  .events-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }

  .events-card-content-container {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    flex: 0 1 calc(45% - 1em);
    margin: 5px; }

  .events-card-content-image-container, .events-card-content-text {
    width: 100%;
    height: auto; }

  /*************EVENTs ends**************/
  /*************Home starts**************/
  .home-contents {
    width: 100%;
    flex-direction: row; }

  /*************Home ends**************/
  /*************our partners starts**************/
  .our-partners-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .our-partners-container {
    width: 100%;
    background-color: white; }

  .our-partners-container-big {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .our-partners-get-image {
    display: flex;
    justify-content: center; }

  .our-partners-about-container {
    background-color: white;
    display: flex;
    flex-direction: row; }

  .our-partners-about-fix-size {
    width: 100%;
    display: flex;
    flex-direction: row; }

  .our-partners-get-container {
    width: 25%; }

  .our-partners-bg-white {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  /*************our partners ends**************/
  .header-search-bar {
    display: none; } }
/*MEDIA QUERY - SMALL PC*/
@media screen and (min-width: 1024px) {
  /**************************************/
  /***********START HEADER LAYOUT**********/
  header .mobile-logo {
    display: none; }
  header .flex-nav {
    /*Hide toggle navigation buttton*/
    /* Flex Container */ }
    header .flex-nav .toggleNav {
      display: none; }
    header .flex-nav ul .pc-logo {
      display: block; }
      header .flex-nav ul .pc-logo a {
        padding: 14.6px; }
        header .flex-nav ul .pc-logo a img {
          width: 100px; }
    header .flex-nav ul li {
      flex: 1; }

  /**************************************/
  /***********END HEADER LAYOUT**********/
  /*************EVENT CARD start**************/
  .margin-container {
    margin: 0 auto; }

  /*************event LAYOUT**************/
  .event-container {
    width: 1024px; }

  .event-card-image {
    display: none; }

  .event-card-text-container {
    padding: 2px 16px; }

  .event-card-content-time, .event-card-content-location {
    display: flex;
    flex-direction: row;
    line-height: 50px; }

  .event-card-content-big {
    display: flex;
    flex-direction: row; }

  .event-card-image-big {
    margin: 16px;
    padding-top: 10px;
    border-top: 1px solid #c7c7c7; }

  .event-card-image-big {
    display: block; }

  .event-card-event-partners-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .event-card-event-partners-content {
    width: 24%;
    height: 0;
    padding-bottom: 25%;
    flex: 0 2 calc(25% - 1em); }

  .event-card-map-img {
    padding: 32px;
    width: 100%; }

  .event-card-map-container {
    display: flex; }

  /*************event LAYOUT end**************/
  /*************event LAYOUT ENDS**************/
  /*************EVENT CARD**************/
  /**********QUICK RESONSIVE SETUP**********/
  .mobile {
    display: none; }

  .tablet {
    display: none; }

  .small-pc {
    display: block; }

  /*************EVENT book**************/
  .book-event-container {
    width: 1024px;
    padding: 16px; }

  .book-event-content-container {
    display: flex;
    flex-direction: row; }

  .book-event-content-times {
    display: flex;
    flex-direction: row; }

  #reserve_seat_book_user {
    width: 50px; }

  .book-event-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

  /*************EVENT book ends**************/
  /*************EVENT book guest**************/
  /*************EVENT book guest end**************/
  /*************EVENTs start**************/
  .events-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }

  .events-card-content-container {
    width: 33.33%;
    height: 0;
    padding-bottom: 33.33%;
    flex: 0 2 calc(33.33% - 1em); }

  /*************EVENTs ends**************/
  /*************Home starts**************/
  .home-contents {
    width: 1024px; }

  /*************Home ends**************/
  /*************our partners starts**************/
  .our-partners-container {
    display: flex;
    flex-direction: row;
    width: 1024px;
    background-color: white; }

  .our-partners-about-fix-size {
    width: 1024px;
    display: flex;
    flex-direction: row; }

  .our-partners-bg-white {
    background-color: white;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

  /*************our partners ends**************/
  .header-search-bar {
    display: flex;
    justify-content: center;
    align-items: center; }

  .header-search-bar-mobile {
    display: none; }

  .search-bar-form {
    border: none; } }

/*# sourceMappingURL=style.css.map */
