//import var
@import "variables";

/**************************************/
/*********MOBILE FIRST DESIGN**********/
/**************************************/

/**************************************/
/**************BODY LAYOUT*************/
/**************************************/
body{
	/*fixing footer to bottom of browser*/
	position: relative;

	background-color: $accent-color-2;
	padding: 0;
	margin: 0;
	overflow-x:hidden;
	box-sizing: border-box;

	@include primary-font();
}


/**************************************/
/*********START HEADER LAYOUT**********/
/**************************************/
header, footer{
	color: $dark-text-color;
}

header a ,
footer a{
	color: $dark-text-color;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 20px 5px;
	display: block;
	text-align: center;

	&:hover {
		background: rgba(0, 0, 0, 0.3);
	}

}

.logo{
	width: 120px;
}

header .flex-nav{
	/* Flex Container */
	ul {
		border-top: 1px solid $lightenPrimaryColor;
		border-bottom: 1px solid $lightenPrimaryColor;
		list-style: none;
		margin: 0;
		padding: 0;
		/* USE display:flex for laptop view */
		display: none;

		.pc-logo{
			display: none;
		}
		// .pc-logo{
		// 	display: none;
		// }

		li a{
			cursor: pointer;
		}
	}
} 

/* Button */
.button{
	margin:5px 5px 14px 5px;
	width:150px;
	height:37px;
	text-align:center;
	line-height:37px;
	border-radius:3px;
	cursor:pointer;
}
.buttonClick{
	cursor:pointer;
}
.button-green{
	background:$accent-color-1;
	border: 1.4px solid #7cb342;
	color:white;
	box-shadow:1px 1px #689f38;
}
.button-green:hover{
	background-color:$darkenAcctColor1;
}
.button-green:active{
	background-color:$lightenAcctColor1;
}

/*SEARCH BAR STYLING*/
.search-bar-form{
	width: 100%;
	border-bottom: 1px solid $lightenPrimaryColor;
}
/*SEARCH FORM CONAINER*/
.search-bar-form > div{
	display: flex;
	justify-content: center;
	text-align: center;

	padding: 6px 5px;
	
}

/*SEACH BAR*/
.search-input-container{
	width: 100%;
	/* TOGGLE CONTAINER DISPLAY IN JS FOR ACTIVE SEARCHS*/
	display:none;
}

.search-input-container input{
	width: 96%; /*the inputs width is dependant on the parent container*/
	height: 30px;
	padding: 2px 0 0 4px;

}

/*SEARCH ICON*/
/*SETUP ICON CONTAINER*/
.search-icon-button{
	width: 30px;
	height: 30px;
	background-color: $lightenPrimaryColor; 
	border-radius: 50%;
	margin: 3px 10px;
	display: flex;
	cursor: pointer;

	.search-icon{
		/*CENTER THE ICON*/
		padding: 5px 6px;
	}

}
.search-icon-button:hover{
	background-color: $darkenPrimaryColor; 
	// margin-left: 25px;

	.search-icon{
		color: $light-text-color;
	}
}
/**************************************/
/***********END HEADER LAYOUT**********/

/*********START FOOTER LAYOUT**********/
/**************************************/

footer .social-media-icons{
	display: flex;
	justify-content: space-around;

	border-top: 1px solid $lightenPrimaryColor;
	border-bottom: 1px solid $lightenPrimaryColor;
	list-style: none;
	margin: 0;
	padding: 0;
	/* USE display:flex for laptop view */
	// display: none;
	li{
		width: 25%;

	}

	li a{

		cursor: pointer;
	}
}
/***********END FOOTER LAYOUT**********/
/**************************************/



/**************************************/
/*****START DEFAULT LAYOUT LAYOUT******/
/**************************************/
.section-image img{
	// display: block;
	width: 100vw;
	/*height: auto;*/

}

/**************************************/
/*************FORM LAYOUT**************/
/*form wrapper styling*/
.form{
	display: flex;
	flex-direction: column;
}

/**************************************/
/***********SECTION LAYOUT*************/
#section-login,
#section-register{
	/*setup the section in a column layout*/
	// flex-direction: column;
	// justify-content: center;
}
/**************************************/
/***********ARTICLE LAYOUT*************/
#article-login,
#article-register{
	/*center the login section*/
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 100;
}

#form-login,
#form-register,
#form-contact-us{
	display: flex;
	// justify-content: center;

	/*increase padding for table & pc media queries*/
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 16px;

	background-color: $light-text-color;

	input{
		width: 280px;
		height: 30px;
		
		padding: 2px 0 0 4px;
		margin-bottom: 16px;
	}

	.button{
		margin: 0 auto;
	}
}

#btn-user{
	margin-top: 20px;
}

#form-contact-us textarea{
	margin-bottom: 10px;
}

/**************************************/
/************OVERLAY LAYOUT************/
#section-overlay{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: rgba(15,20,22,0.5);
	overflow: hidden;
	z-index: 99;

	form{
		border-radius: 4px;
	}
}

/**************************************/
/************SECTION LAYOUT************/
/**************************************/
.section{
	display: none;
}
/**************************************/
/*****END DEFAULT LAYOUT LAYOUT******/
/**************************************/



/**************************************/
/*************HOME LAYOUT**************/
/**************************************/


/*************EVENT LAYOUT**************/
#section-event{
	display:none;//comment this after done
	flex-direction:column;

}

.margin-container{
	margin:0 auto;

}
.event-container{
	width:1024px;
	background-color:green;

}
.event-header-container{
	height:100px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-top:25px;
}
.event-header-center{
	width:33.33%;
	text-align:center;

}

.event-mobile-search{
	display:none !important;
}
/*************EVENT LAYOUT ENDS**************/
/*************EVENT CARD**************/
.event-card{
	background:white;
	width: 100%;

}

.event-card-image{
	display:none;
}
.event-card-text-container{
	padding: 2px 16px;
}
.event-card-content-time,.event-card-content-location{
	display:flex;
	flex-direction:row;
	line-height:50px;
}
.event-card-content-pricing{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.event-card-content-location{
}
.event-card-content-time-icon{
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(../img/site-layout/clock.svg);
	background-size: 50px 50px;
	margin-left:15px;
}
.event-card-content-location-icon{
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(../img/site-layout/map_pointer.svg);
	background-size: 50px 50px;
	margin-left:15px;
}
.event-card-content-pricing-price{
	line-height:50px;
}
.event-card-content-time-text,.event-card-content-location-text{
	margin-left:15px;

}
.event-card-content-tags-tags{
	margin-left:15px;
	padding-bottom:20px;
	line-height:30px;
	height:30px;
	border-top: 1px solid $lightenPrimaryColor;
	margin-top:10px;
}
.event-card-content-pricing-button{

}
.event-card-text-paragraph{
	padding-top:10px;
	border-top: 1px solid $lightenPrimaryColor;
}
.event-card-map-container{
	display:none;
	margin:0 auto;
	width:100%;
	height:320px;
	padding-top:6px;
	padding-bottom:6px;
}
.event-card-content-big{
	display:flex;
	flex-direction: row;
}
.event-card-image-big{
	margin:16px;
	padding-top:10px;
	border-top: 1px solid $lightenPrimaryColor;
}
.event-card-content-time-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
/*************EVENT CARD ENDS**************/


/*MEDIA QUERY - TABLET*/
@media screen and(min-width: 700px){
	/**************************************/
	/**********START HEADER LAYOUT*********/
	header .flex-nav{
		/*Hide toggle navigation buttton*/
		.toggleNav{
			display: none;
		}
		/* Flex Container */
		ul {
			display: flex;
			justify-content: space-around;
		}
		.pc-logo{
			display: none;
		}
	}

	/**************************************/
	/***********END HEADER LAYOUT**********/

	/*************event LAYOUT**************/
	.event-card-image{
		display:flex;
		width: 100%;
	}
	.event-card-image-big{
		display:none;
	}
	.event-card-content-time-container{
		display:block;
	}
	.event-card-content-location{
		margin-top:10px;
	}
	/*************event LAYOUT ends**************/
}

/*MEDIA QUERY - SMALL PC*/
@media screen and(min-width: 1024px){
	/**************************************/
	/***********START HEADER LAYOUT**********/
	header {
		.mobile-logo{
			display: none;
		}
		.flex-nav{
			/*Hide toggle navigation buttton*/
			.toggleNav{
				display: none;
			}
			/* Flex Container */
			ul {
				.pc-logo{
					display: block;
					a {
						padding: 14.6px;
						img{
							width: 100px;
						}
					}
				}
				li {
					flex: 1;

				}
			}
		}
	}

	/**************************************/
	/***********END HEADER LAYOUT**********/

	/*************event LAYOUT**************/
	.event-container{
		width:100vw;
		background-color:red;


	}
	.event-header-center{
		width:33.33%;
		text-align:center;
	}
	.event-header-left{
		width:33.33%;
		text-align:center;
	}
	.event-header-right{
		width:33.33%;
		text-align:center;
	}
	.event-mobile-search{
		display:inline-block !important;

	}

	/*************event LAYOUT ENDS**************/

	/*************EVENT CARD**************/
}