/**************************************/
/***************COLOURS****************/
$primary-color: #616161; //dark grey
$secondary-color: #546e7a; //dark blue
$accent-color-1: #8bc34a; //dark green
$accent-color-2: #f0f0f0; //lightgrey white
$dark-text-color: #000000; //black
$light-text-color: #ffffff; //white

/**************************************/
/*********COLOUR ALTERNATIVES**********/
$darkenPrimaryColor: darken($primary-color, 20%);
$lightenPrimaryColor: lighten($primary-color, 40%);

$darkenSecondaryColor: darken($secondary-color, 70%);
$lightenSecondaryColor: lighten($secondary-color, 20%);
$lighten50SecondaryColor: lighten($secondary-color, 50%);

$darkenAcctColor1: darken($accent-color-1, 10%);
$lightenAcctColor1: lighten($accent-color-1, 10%);
$lighten5AcctColor1: lighten($accent-color-1, 5%);
$lighter50AcctColor1: lighten($accent-color-1, 30%);

$darkenAcctColor2: darken($accent-color-2, 70%);
$darken40AcctColor2: darken($accent-color-2, 10%);
$lightenAcctColor2: lighten($accent-color-2, 50%);
$lighten30AcctColor2: lighten($accent-color-2, 10%);

/**************************************/
/************TYPOGRAPHIES**************/
@mixin primary-font() {
	font-family: 'Lato', sans-serif;
}

@mixin secondary-font() {
	font-family: 'Open Sans', sans-serif;
}

/**************************************/
/***************AFFECTS****************/
